/**/
.main{padding-top:30px;}

/*ad*/
.main .right{margin-left:200px;padding:0 20px;}
.right .h3{font-size:16px;margin-bottom:10px;padding:0 0 10px 5px;border-bottom:1px solid #e3e3e3;color:#222;}
.right>.head{color:#222;margin-bottom:20px;}
.right>.head a{display:inline-block;height:30px;line-height:30px;padding:0 20px;background:#3385ff;color:#fff;border-radius:3px;}
.right>.head a:hover{background:#2e7fd8;}

.right .s1{min-height:200px;}
.right .s1>table{width:100%;border-collapse:collapse;font-size:12px;color:#444;}
.right .s1>table tr{}
.right .s1>table th{text-align:center;background:#f5f5f5;padding:8px 5px;font-weight:normal;}
.right .s1>table td{text-align:center;padding:10px 5px;border-bottom:1px solid #ddd;}
.right .s1>table td>a{display:inline-block;width:20px;height:20px;margin:-3px 0;
    background-repeat:no-repeat;background-position:center center;background-size:auto 16px;}
.right .s1>table td>a.edit{background-image:url(/web/common/img/userhome/ad/edit.svg);}
.right .s1>table td>a.edit:hover{background-image:url(/web/common/img/userhome/ad/edit1.svg);}
.right .s1>table td>a.del{background-image:url(/web/common/img/userhome/ad/del.svg);}
.right .s1>table td>a.del:hover{background-image:url(/web/common/img/userhome/ad/del1.svg);}
.right .s1>.no-record{text-align:center;height:180px;padding-top:145px;color:#b0b0b9;
    background-image:url(/web/common/img/no-record2.png);background-repeat:no-repeat;background-position:center center;background-size:auto 100px;}

.right .s2{margin-top:20px;}
.right .s2>.para{line-height:22px;font-size:12px;margin:5px 0;}
.right .s2>.para a{margin:0 2px;color:#3385ff;}
.right .s2>.para a:hover{text-decoration:underline;}

/*nav*/
.right .nav{padding-bottom:10px;border-bottom:1px solid #e3e3e3;display:flex;align-items:center;}
.nav .h3{border-bottom:none;margin:0;padding:0;flex-grow:1;}
.nav>.f1{margin-bottom:-5px;}
.nav>.f1>a{color:#428bca;}

/*u1*/
.right .s3{margin-top:20px;}
.s3>.input-group{display:flex;align-items:flex-start;padding:8px 20px;}
.s3>.input-group>label{line-height:30px;height:30px;width:100px;text-align:right;padding-right:10px;}
.s3>.input-group>input{outline:none;padding:2px 5px;height:30px;font-size:12px;width:250px;border:1px solid #ccc;}
.s3>.input-group>input.addon{padding-right:43px;}
.s3>.input-group>select{outline:none;padding:2px 5px;height:30px;font-size:12px;width:80px;border:1px solid #ccc;}
.s3>.input-group .ratio-group{height:30px;font-size:12px;width:250px;display:flex;align-items:center;}
.s3>.input-group .ratio-group>.ratio{font-style:normal;padding-left:20px;margin:0 10px;cursor:pointer;
    background-repeat:no-repeat;background-image:url(/web/common/img/userhome/ad/ratio_off.png);background-position:0 center;}
.s3>.input-group .ratio-group>.ratio.on{background-image:url(/web/common/img/userhome/ad/ratio_on.png);}
.s3>.input-group>.input-addon{height:30px;width:38px;border:1px solid #ccc;margin-left:-38px;background-color:#e4e4e4;
    background-repeat:no-repeat;background-position:center center;background-size:18px auto;}
.s3>.input-group>.input-addon.cny{background-image:url(/web/common/img/userhome/ad/cny.svg);}
.s3>.input-group>.info{margin-left:10px;color:#777;line-height:30px;}
.s3>.input-group>textarea{outline:none;padding:2px 5px;resize:vertical;min-height:80px;width:250px;
    border:1px solid #ccc;font-size:12px;font-family:inherit;}

.s3>.input-group>.opt{width:213px;border-right:none;}
.s3>.input-group>.opt-btn{width:38px;height:30px;border:1px solid #ccc;margin-left:-1px;position:relative;background-color:#f6f6f6;
    background-image:url(/web/common/img/userhome/ad/down.svg);
    background-repeat:no-repeat;
    background-position:center center;
    background-size:16px auto;}
.s3 .opt-btn .select{position:absolute;top:28px;right:-1px;width:250px;background:#fff;border:1px solid #ccc;box-shadow: 0 0 3px #ccc;display:none;}
.s3 .opt-btn .option{line-height:26px;height:26px;padding:0 10px;}
.s3 .opt-btn .option.hover{background:#3385ff;color:#fff;}

.s3>.f1{margin-top:20px;padding:15px 0 0 20px;border-top:1px solid #e4e4e4;}
.s3>.f1>.info{margin-left:20px;color:#995500;padding-left:20px;
    background-image:url(/web/common/img/userhome/ad/warn.svg);background-repeat:no-repeat;background-position:0 center;background-size:14px auto;}

/**/
.img-group{display:inline-flex;justify-content:center;align-items:center;}
.img-group>img{margin-right:3px;}
.img-group.x16>img{width:16px;height:16px;}

.btn{text-align:center;width:80px;cursor:pointer;background:#2e7fd8;border:none;outline:none;color:#fff;font-size:12px;padding:6px 15px;border-radius:3px;}
.btn:hover{background:#3385ff;}
.btn[disabled]{background:#bdbdd0;cursor:default;}



