/**/
.main{padding-top:30px;}

/*ad*/
.main .right{margin-left:200px;padding:0 20px;}
.right .h3{font-size:16px;padding:0 0 10px 5px;border-bottom:1px solid #e3e3e3;color:#222;}

.right>.s1{padding-top:10px;}
.s1>.li{padding:10px 20px;border:1px solid #e4e4e4;margin-top:15px;position:relative;border-radius:5px;}
.s1>.li.new{background-image:url(/web/common/img/userhome/msg/new.svg);background-repeat:no-repeat;background-position:top right;background-size:36px 36px;}
.s1>.li.unread{border-color:#ff6600;}
.s1>.li .title{font-size:14px;}
.s1>.li .title .time{display:block;color:#666;font-size:12px;}
.s1>.li .ct{margin-top:10px;}

/**/
.img-group{display:inline-flex;justify-content:center;align-items:center;}
.img-group>img{margin-right:3px;}
.img-group.x16>img{width:16px;height:16px;}

.btn{text-align:center;width:80px;cursor:pointer;background:#2e7fd8;border:none;outline:none;color:#fff;font-size:12px;padding:6px 15px;border-radius:3px;}
.btn:hover{background:#3385ff;}
.btn[disabled]{background:#bdbdd0;cursor:default;}



