*{box-sizing:border-box;}
html,body{height:100%;}
body{margin:0;padding:0;font-size:12px;color:#444;font-family: "Microsoft YaHei", 微软雅黑, arial, Tahoma, SimSun, sans-serif;}
a{text-decoration:none;color:#444;}

.layout{min-height:100%;padding-top:60px;margin-top:-50px;display:flex;flex-direction:column;}

.main{width:1080px;margin:0 auto;flex-grow:1;}
/*top.php*/
.header-wrap{height:50px;background:#3c404d;}
.header{height:100%;width:1080px;margin:0 auto;display:flex;align-items:center;font-size:16px;}
.header a{color:#fff;}
.header .brand{margin-right:50px;color:#fff;display:flex;align-items:center;height:50px;}
.header .brand>.img{display:block;width:32px;height:32px;background:url(/web/common/img/logo_inv.png);margin:5px 5px 0 0;}
.header .brand>.h1{font-size:24px;line-height:30px;font-weight:bold;}
.header .menu{flex-grow:1;}
.header .menu>a{display:inline-table;line-height:50px;padding:0 15px;}
.header .menu>a:hover{background:#222;transition:background 0.3s;}

.header .pinfo{height:100%;}
.header .pinfo>a{display:inline-flex;justify-content:center;align-items:center;font-size:12px;line-height:50px;padding:0 10px;position:relative;}
.header .pinfo>a.seq{padding:0;margin:0 -5px;}
.header .pinfo>a.seq:before{content:"|";}

.header .pinfo .pi-item{color:#fff;line-height:50px;font-size:12px;position:relative;padding:0 10px;cursor:pointer;
    display:inline-flex;justify-content:center;align-items:center;}
.header .pi-item .icon{background-repeat:no-repeat;background-position:center center;background-size:24px 24px;
    display:block;width:30px;height:50px;margin-right:2px;}
.header .pi-item .user{background-image:url(/web/common/img/top/user.svg);}
.header .pi-item .notice{background-image:url(/web/common/img/top/notice.svg);}
.header .pi-item .badge{background:#ff7519;line-height:16px;height:16px;min-width:6px;font-size:12px;
    color:#fff !important;border-radius:16px;padding:0 5px;position:absolute;top:13px;left:27px;}
.header .pi-item .badge.hide{display:none !important;}
.header .pi-item>a{margin:0 -10px;padding:0 10px;}

.header .pinfo .drop{line-height:20px;display:inline-flex;}
.header .pinfo .drop .icon-down{display:block;width:0;height:0;border:4px solid transparent;border-top:4px solid #ddd;margin:7px 0 0 3px;}
.header .pinfo .drop .panel{background:#fff;position:absolute;top:50px;box-shadow:0 1px 4px rgba(0,0,0,0.4);border-radius:3px;display:none;z-index:1000;}
.header .pinfo .drop .panel:before{content:"";display:block;width:3px;height:0;position:absolute;left:50%;margin-left:-10px;top:-14px;
    border:6px solid transparent;border-bottom:8px solid #f0ad4e;}
.header .pinfo .drop:hover .panel{display:block;}
.header .drop .panel.hide{display:none !important;}
.header .drop .c1{width:200px;color:#444;cursor:default;}
.header .drop .c1 .c1-h{margin:0;line-height:32px;text-indent:10px;font-weight:normal;
    border-bottom:1px solid #e4e4e4;color:#fff;background:#f0ad4e;border-radius:3px 3px 0 0;}
.header .drop .c1 .c1-li{display:block;line-height:24px;padding:5px 10px;color:#444;border-bottom:1px solid #f6f6f6;}
.header .drop .c1 .c1-li .time{display:block;text-align:right;line-height:16px;font-size:10px;color:#666;}
.header .drop .c1 .c1-li:hover{background:#f4f4f4;transition:background 0.3s;}
.header .drop .c1 .c1-li:last-child{border-radius:0 0 3px 3px;}
.header .drop .c2{width:140px;padding:2px 0;}
.header .drop .c2:before{border-bottom-color:#fff !important;}
.header .drop .c2 .c2-li{display:flex;align-items:center;height:34px;padding:0 10px;border-bottom:1px solid #f6f6f6;color:#444;}
.header .drop .c2 .c2-li:hover{background:#f4f4f4;transition:background 0.3s;}
.header .drop .c2 .c2-li .icon{background-size:16px 16px;height:30px;}
.header .drop .c2 .userhome{background-image:url(/web/common/img/top/userhome.svg);}
.header .drop .c2 .logout{background-image:url(/web/common/img/top/logout.svg);}

/*footer.php*/
 .footer-wrap{background:#f4f4f4;margin-top:50px;}
.footer-wrap .footer{width:1080px;margin:0 auto;padding:30px 0;display:flex;color:#666;}
.footer .fl{width:240px;height:90px;padding-left:74px;background-image:url(/web/common/img/logo64.png);background-repeat:no-repeat;background-position:0 center;}
.footer .fl>h3{line-height:40px;margin:0;font-size:26px;margin-top:13px;color:#993333;height:40px;}
.footer .fl>h3>small{font-size:18px;font-family:"Helvetica neue", "Helvetica", "Arial",sans-serif;}
.footer .fl>.desc{color:#ff3a3a;font-weight:bold;}
.footer .ct{flex-grow:1;display:flex;justify-content:space-around;align-items:flex-start;padding-left:50px;font-size:12px;}
.footer .ct ul{margin:0;padding:0;list-style:none;}
.footer .ct ul li:first-child{font-weight:bold;margin-bottom:4px;color:#444;}
.footer .ct ul li{line-height:22px;}
.footer .ct ul li a{color:#666;}
.footer .ct ul li a:hover{text-decoration:underline;}
