.main .sec{margin:40px 0;}
.sec .tb_h{position:relative;height:30px;margin:20px 0 15px 0;}
.sec .tb_h h3{padding-left:10px;font-weight:500;font-size:20px;line-height:30px;margin:0;}
.sec .tb_h h3:before{content:"";display:inline-block;width:4px;height:20px;vertical-align:-4px;background:#ff9900;border-radius:2px;margin-right:10px;}
.sec .tb_h .tb_link{position:absolute;right:45px;top:0;line-height:30px;}
.sec .tb_h .tb_link a{color:#2e7fd8;}

.sec .tb{}
.sec .tb table{width:100%;border-collapse:collapse;font-size:14px;color:#444;}
.sec .tb table thead th{text-align:center;background:#f5f5f5;padding:10px 5px;font-weight:normal;color:#222;}
.sec .tb table tbody td{text-align:center;padding:14px 5px;border-bottom:1px solid #ddd;}
.sec .tb table tbody td.price{color:#009900;}
.sec .tb table tbody tr:hover{transition:background 0.5s;background:#fbfbfb;}
.sec .tb table tbody td a{color:#ff3a3a;font-size:14px;display:inline-block;padding:3px 14px;border:1px solid #ff3a3a;border-radius:3px;}
.sec .tb table tbody td a:hover{transition:background 0.3s,color 0.3s; background:#ff3a3a;color:#ddd;}

.sec .tb .no-record{height:200px;color:#b0b0b9;padding-top:155px;text-align:center;
    background-image:url(/web/main/img/no-record1.png);background-repeat:no-repeat;background-position:center center;background-size:auto 100px;}
