/**/
.main{padding-top:30px;}

/*ad*/
.main .right{margin-left:200px;padding:0 20px;}
.right .h3{font-size:16px;margin-bottom:10px;padding:0 0 10px 5px;color:#222;}
.right>.head{color:#222;margin-bottom:20px;}
.right>.head a{display:inline-block;height:30px;line-height:30px;padding:0 20px;background:#3385ff;color:#fff;border-radius:3px;}
.right>.head a:hover{background:#2e7fd8;}

.right .s1{min-height:200px;}
.right .s1>table{width:100%;border-collapse:collapse;font-size:12px;color:#444;}
.right .s1>table tr{}
.right .s1>table th{text-align:center;background:#f5f5f5;padding:8px 5px;font-weight:normal;}
.right .s1>table td{text-align:center;padding:10px 5px;border-bottom:1px solid #ddd;}
.right .s1>table td>a{display:inline-block;margin:0 3px;color:#2e7fd8;}
.right .s1>table td>a:hover{text-decoration:underline;}

.right .s2{margin-top:20px;}
.right .s2>.para{line-height:22px;font-size:12px;margin:5px 0;}
.right .s2>.para a{margin:0 2px;color:#3385ff;}
.right .s2>.para a:hover{text-decoration:underline;}

