/**/
.main .h1{margin:20px 0 10px 0;font-size:20px;line-height:46px;font-weight:normal;color:#222;}

.main .right{margin-left:220px;padding:0 20px;}
.right .h3{font-size:18px;font-weight:normal;line-height:30px;margin:0;}
.right .pg-info{font-size:12px;border-bottom:1px solid #f4f4f4;padding:10px 0 20px 0;color:#666;}
.right .pg-info span{margin-right:20px;}
.right .para{margin:16px 0;line-height:24px;word-wrap:break-word;font-weight:200;}



