.main .left{width:200px;float:left;font-size:14px;}
.left .ul{border-radius:3px;border:1px solid #e4e4e4;width:200px;}

.left .ul a:first-child{border-radius:3px 3px 0 0;}
.left .ul a:last-child{border-radius:0 0 3px 3px;}
.left .ul a{display:flex;padding-left:20px;align-items:center;position:relative;border-bottom:1px solid #f4f4f4;height:44px;}
.left .ul a.active{background:#3385ff !important;color:#fff !important;}
.left .ul a:hover{background:#f4f4f4;transition:background 0.3s;}

.left .ul a i.icon{display:block;width:30px;height:30px;margin-right:10px;background: no-repeat center center;background-size:18px auto;}
.left .ul a i.msg{background-image:url(/web/userhome/left/img/msg.svg);}
.left .ul a.active i.msg{background-image:url(/web/userhome/left/img/msg1.svg);}
.left .ul a i.ad{background-image:url(/web/userhome/left/img/ad.svg);}
.left .ul a.active i.ad{background-image:url(/web/userhome/left/img/ad1.svg);}
.left .ul a i.sell{background-image:url(/web/userhome/left/img/sell.svg);}
.left .ul a.active i.sell{background-image:url(/web/userhome/left/img/sell1.svg);}
.left .ul a i.usered{background-image:url(/web/userhome/left/img/usered.svg);}
.left .ul a.active i.usered{background-image:url(/web/userhome/left/img/usered1.svg);}
.left .ul a i.member{background-image:url(/web/userhome/left/img/member.svg);}
.left .ul a.active i.member{background-image:url(/web/userhome/left/img/member1.svg);}
.left .ul a i.account{background-image:url(/web/userhome/left/img/account.svg);}
.left .ul a.active i.account{background-image:url(/web/userhome/left/img/account1.svg);}

.left .ul a label{position:absolute;right:20px;top:14px;display:block;padding:0 5px;background:green;
    font-size:12px;line-height:16px;border-radius:8px;margin-left:40px;color:#fff;font-weight:bold;}
.left .ul a label.hide{display:none !important;}